#game-canvas {
  border: 3px solid rgb(244, 178, 176);
  border-radius: 11px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
  background: url(http://bestanimations.com/Music/Dancers/anime-dancing-girls/anime-dancing-girl-7.gif) no-repeat center;
  background-color: white;
  background-position-x: left;
}

.score {
  display: flex;
  padding: 10px 45%;
  font-size: 30px;
}

h1 {
  text-align: center;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
 font-family: "Open Sans",  Impact;
 background-color: #f4b2b0;
}

.area {
  text-align: center;
  font-size: 4.5em;
  color: #b3404a;
  letter-spacing: -3px;
  font-weight: 700;
  /* text-transform: uppercase; */
  animation: blur .80s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}
